
@page "/pizzas-topping"

<h1>Our Latest Pizzas and Topping</h1>

<Pizza PizzaName="Hawaiian" PizzaDescription="The one with pineapple" />

<PizzaTopping Topping="@(new PizzasTopping(){Name = "Chilli Sauce",Ingredients = "Three kinds of chilli"})"></PizzaTopping>

@code {
    
}